# Copy to ../ledgeindex-api/.env

PORT=3010
HOST=0.0.0.0
LEDGEINDEX_PROFILES=docs,profile
# LEDGEINDEX_DATA_DIR=./.data
# GOOGLE_GENERATIVE_AI_API_KEY=
# OPENAI_API_KEY=
# DEEPSEEK_API_KEY=
# COHERE_API_KEY=
